<div class="flex flex-col items-center w-full h-screen">
  <div class="title w-full">
    <h1 class="text-xlg">Welcome to my</h1>
    <h1 class="teste">Rails Blog</h1>
  </div>

  Our blog has <%= Article.public_count %> articles and counting!

  <ul>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "New Article", new_article_path %>
</div>
